<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.petcelsius.api.mapper.CooperateDescImgMapper">
    <!-- SQL语句 -->


    <select id="selectListByCooperateId" resultType="com.petcelsius.api.domain.CooperateDescImg">
        select * from cooperate_desc_img where cooperate_id=#{cooperateId}
    </select>
</mapper>