<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.petcelsius.api.mapper.HeartDetailImageMapper">
    <!-- SQL语句 -->


    <select id="selectByPetId" resultType="com.petcelsius.api.domain.HeartDetailImage">
        select * from heart_detail_image where heart_id=#{petId}
    </select>
</mapper>